.page {
    position: relative;

    &__content {
        /* stylelint-disable-next-line rule-empty-line-before */
        p {
            opacity: 0.8;
            font-size: 16px;
            letter-spacing: 0.03em;
            line-height: 24px;

            @include xs-block() {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .entry-content {
        margin: 30px 0 50px;

        @include xs-block() {
            margin: 0 0 50px;
        }

        h3 {
            margin-bottom: 20px;
            font-family: $f-medium;
            font-size: 24px;
            font-weight: normal;
            letter-spacing: 0.03em;
            line-height: 35px;

            @include xs-block() {
                font-size: 22px;
                line-height: 26px;
            }
        }

        h4 {
            margin-bottom: 20px;
            font-family: $f-medium;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 0.03em;
            line-height: 24px;

            @include xs-block() {
                font-size: 16px;
                line-height: 20px;
            }
        }

        p {
            opacity: 0.8;
            font-size: 16px;
            letter-spacing: 0.03em;
            line-height: 24px;

            @include xs-block() {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    h1 {
        margin-top: 30px;
        color: #5a4f49;
        font-family: $f-bold;
        font-size: 40px;
        line-height: 120%;

        @include xs-block() {
            margin-top: 0;
        }
    }

    &-blog {
        width: 100%;
        max-width: 820px;
        margin: 0 auto 50px;

        &__image {
            width: 100%;
            max-width: 1230px;
            margin: 50px auto;
        }

        .breadcrumbs {
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
            color: $color-text;
            font-family: $f-medium;
            font-size: 30px;
            letter-spacing: 0.03em;
            line-height: 35px;
            text-align: center;

            @include xs-block() {
                text-align: left;
            }
        }

        p {
            opacity: 0.8;
            color: $color-text;
            font-size: 16px;
            letter-spacing: 0.03em;
            line-height: 24px;
        }

        img.size-full {
            display: block;
            width: 100%;
            height: auto;

            @include xs-block() {
                object-fit: contain;
                object-position: center;
            }
        }
    }

    &-contacts {
        margin: 0;

        &__wrap {
            display: flex;
            align-items: center;
            margin: 0 -15px;

            @include xs-block() {
                flex-direction: column;
            }
        }

        &__col {
            width: calc(50% - 30px);
            margin: 0 15px;

            @include xs-block() {
                width: calc(100% - 30px);
            }
        }

        &__map {
            height: 348px;
            margin: 50px 0;
            overflow: hidden;
            border-radius: 5px;
            background-color: #fcfcf7;

            @include xs-block() {
                width: calc(100%);
            }

            .map {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }

        &__info {
            margin: 0;

            h2 {
                margin-bottom: 10px;
                font-family: $f-bold;
                font-size: 36px;
                line-height: 40px;
            }

            strong {
                font-family: $f-medium;
                font-weight: normal;
            }

            span {
                opacity: 0.8;
                display: block;
            }
        }

        &__inner {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        &__phone {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            @include xs-block() {
                flex-direction: column;
            }

            a {
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                color: $color-text;

                @include xs-block() {
                    margin-bottom: 30px;
                    margin-left: 0;
                }

                &:hover {
                    color: $color-accent;
                }
            }

            strong {
                font-family: $f-medium;
                font-weight: normal;
            }

            span {
                font-size: 14px;
            }
        }

        .social {
            margin: 50px 0;
        }
    }
}

// .page
