.category {
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        @include xs-block() {
            margin: 0 -5px;
        }
    }

    &-item {
        position: relative;
        width: calc(1 / 3 * 100% - 30px);
        margin: 0 15px 30px;
        overflow: hidden;
        border-radius: 20px;

        @include xs-block() {
            width: calc(50% - 10px);
            margin: 0 5px 10px;
            border-radius: 10px;
        }

        @include xs-block() {
            width: calc(50% - 10px);
            margin: 0 5px 10px;
        }

        &__title {
            position: absolute;
            top: 25px;
            left: 25px;
            z-index: 10;
            color: $color-text;
            font-family: $f-medium;
            font-size: 22px;
            line-height: 120%;

            @include lg-block() {
                top: 20px;
                left: 20px;
                font-size: 20px;
            }

            @include xs-block() {
                top: 15px;
                left: 15px;
                font-size: 14px;
            }
        }

        &__image {
            position: relative;

            img {
                width: 100%;
                width: 100%;
                object-fit: cover;
                object-position: right bottom;
            }
        }
    }
}
