.footer {
    position: relative;
    padding: 40px 0 60px;
    background-color: $color-bg--lighten;

    &__wrap {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        @include xs-block() {
            flex-direction: column;
        }
    }

    &__col {
        width: calc(1 / 4 * 100%);

        @include xs-block() {
            width: 100%;
        }

        &:first-child {
            .footer__col-title {
                @include xs-block() {
                    display: none;
                }
            }
        }

        &:nth-child(1) {
            @include xs-block() {
                order: 1;
            }
        }

        &:nth-child(2) {
            @include xs-block() {
                order: 3;
            }
        }

        &:nth-child(3) {
            @include xs-block() {
                order: 4;
            }
        }

        &:nth-child(4) {
            @include xs-block() {
                order: 2;
            }
        }

        &-title {
            margin-bottom: 30px;
            color: $color-text;
            font-family: $f-bold;
            font-size: 16px;
            letter-spacing: 0.03em;
            line-height: 15px;

            @include xs-block() {
                font-size: 18px;
            }
        }

        & + & {
            @include xs-block() {
                margin-top: 50px;
            }
        }

        .payments {
            margin: 0;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
    }

    &-copy {
        display: flex;
        align-items: center;
        justify-content: center;

        @include xs-block() {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__item {
            color: #9e9e9e;

            &:first-child {
                color: $color-text;
                font-family: $f-medium;
            }

            & + & {
                margin-left: 40px;
            }
        }
    }

    &-nav {
        ul {
            li {
                &.footer-nav__head a {
                    color: $color-text;
                    font-family: $f-bold;
                    font-size: 20px;
                    cursor: default;
                }

                & + li {
                    margin-top: 10px;
                }

                a {
                    opacity: 0.8;
                    color: $color-text;
                    font-family: $f-medium;
                    font-size: 16px;

                    @include xs-block() {
                        font-size: 14px;
                        line-height: normal;
                    }

                    &:hover {
                        color: $color-accent;
                    }
                }

                small {
                    opacity: 0.5;
                    display: block;
                    font-size: 14px;
                }
            }
        }
    }

    &-dev {
        color: #9e9e9e;

        strong {
            font-family: $f-medium;
            font-weight: normal;
        }
    }
}

// .footer
