.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    background-color: $color-accent;

    @include hd-block() {
        padding: 0 20px;
    }

    @include xs-block() {
        display: none;
    }

    ul {
        display: flex;

        li {
            a {
                display: block;
                padding: 20px 40px;
                color: #fff;
                font-family: $f-medium;
                font-size: 20px;
                line-height: 19px;

                @include hd-block() {
                    padding: 20px 35px;
                    font-size: 18px;
                }

                @include lg-block() {
                    padding: 20px 30px;
                    font-size: 18px;
                }
            }
        }
    }

    &-mob {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
        transition: $trs;

        &__wrap {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 9900;
            width: 100%;
            max-width: 320px;
            height: 100vh;

            padding: 40px 20px 80px;
            overflow-x: auto;

            background-color: #fff;
            box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);

            .header-mob__logo {
                display: block;
                margin-bottom: 50px;

                svg {
                    width: 200px;
                }
            }

            .header-contacts {
                flex-direction: column;
            }

            .header-mail {
                margin-top: 50px;
                margin-left: 0;
            }
        }

        &__overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9900;
            display: none;
            background-color: rgba(0, 0, 0, 0.7);

            &.active {
                display: block;
            }
        }

        &__close {
            position: absolute;
            top: 20px;
            right: 15px;
            z-index: 190;
            width: 38px;
            height: 38px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.3);

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 20px;
                height: 20px;
                transform: translate(-50%, -50%);
                fill: #fff;
            }
        }

        &.active {
            z-index: 9901;
            visibility: visible;
            opacity: 1;
            display: block;
            transform: translateX(0);
        }
    }
}

// .nav
