.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    background-color: $color-accent;

    @include hd-block() {
        padding: 0 20px;
    }

    ul {
        display: flex;

        li {
            a {
                display: block;
                padding: 20px 50px;
                color: #fff;
                font-family: $f-medium;
                font-size: 20px;
                line-height: 19px;
            }
        }
    }
}

// .nav
