.added_to_cart {
    display: none !important;
}

.checkout {
    &_coupon p:first-child {
        display: none;
    }

    &-coupon {
        display: flex;
        width: 100%;
        margin-bottom: 30px;

        @include xs-block() {
            flex-direction: column;
        }

        &__text input {
            max-width: 410px !important;
            height: 50px !important;
            padding-left: 16px !important;
            border: none !important;
            border-radius: 10px !important;
            background: #f5f5f5;
            color: $color-text;
            font-family: $f-medium;
            text-transform: uppercase;

            @include xs-block() {
                width: 100%;
            }

            @include placeholder() {
                opacity: 0.3;
                color: $color-text;
                font-family: $f-medium;
            }
        }

        &__btn {
            margin-left: 10px;

            @include xs-block() {
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }

    .form-row label {
        margin-left: 5px;
        font-size: 14px;
    }

    textarea {
        width: 100%;
        padding: 19px 15px 25px;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: $color-bg--lighten;
        font-family: $f-medium;
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 13px;

        @include placeholder() {
            opacity: 1;
            color: $color-text;
            font-family: $f;
            font-size: 14px;
            letter-spacing: 0.03em;
            line-height: 13px;
        }
    }
}

.woocommerce-input-wrapper input {
    max-width: 410px !important;
    height: 50px !important;
    padding-left: 16px !important;
    border: 1px solid transparent;
    border-radius: 10px !important;
    background: #f5f5f5;
    color: $color-text;
    font-family: $f-medium;

    @include placeholder() {
        opacity: 0.3;
        color: $color-text;
        font-family: $f-medium;
    }
}

.embed-container {
    /* IE6 workaround */

    position: relative;
    height: 0;
    margin-bottom: 18px;

    /* 16/9 ratio */

    padding-top: 30px;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.related {
    overflow-x: hidden;

    .section__title h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .swiper {
        overflow: visible;
    }
}

.loop-swiper-button-arrow {
    position: absolute;
    top: 40%;
    z-index: 10;
    width: 32px;
    height: 32px;
    transform: translateY(-50%);
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);

    @include xs-block() {
        top: 30%;
    }

    &.swiper-button-disabled {
        opacity: 0.2;
    }

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        transform: translate(-50%, -50%);
    }
}

.loop-swiper-button-prev {
    left: 5px;

    svg {
        transform: translate(-50%, -50%) rotate(-180deg);
    }
}

.loop-swiper-button-next {
    right: 5px;
}

.woocommerce-shipping-methods
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 7px !important;
}

#yith-wcwl-popup-message {
    width: 100%;
    max-width: 320px;
    margin-left: 0 !important;
    padding: 20px;
    transform: translate(-50%, -50%);
    font-family: $f-medium;
    font-weight: normal;
    line-height: 150%;

    @include xs-block() {
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        transform: translate(0, 0);
        background-color: $color-accent;
        color: #fff;
    }
}

p.wishlist-empty,
table.wishlist_table tbody td.wishlist-empty {
    margin: 0 !important;
    text-align: left;
}

.wishlist_view {
    display: flex;
    flex-wrap: wrap;
}
